body{
    background-image: url(website_background_cropped.png);
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
form {
    width: 300px; 
    padding: 60px;
    background-color: #f8eae6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
